.btn-primary {
  color: #fff;
  background-color: #1976d2;
  border-color: #1976d2;
}

.btn-link {
  font-weight: 400;
  color: #1976d2;
  text-decoration: none;
}

.btn-icon {
  font-weight: 400;
  color: #1976d2;
  text-decoration: none;
}

.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
}

