.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgb(2,86,138,0.70);
  border-bottom: 1px solid #e3e6f0;
  color: white;
}

div[role=tab] {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgb(2,86,138,0.40);
  border-bottom: 1px solid #e3e6f0;
  color: white;
}

.card-header a {
  color: white;
}

